.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchInput,
.SortDropdown,
.OrderButtons {
  margin-bottom: 10px;
  font-size: 1.5em;
  display: flex;  /* 新增 */
  justify-content: center; /* 新增 */
}

.SearchInput input {
  padding: 10px;
}

.SortDropdown select {
  padding: 10px;
  font-size: 1.5em;
}

.OrderButtons button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 1.5em;
}

.MovieList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.MovieItem {
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.MovieItem img {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 5px;
}

.MovieTitle {
  flex-grow: 1;
  font-size: 1.2em;
}

.PlaceholderImage {
  max-width: 100px;
  height: 100px;
  margin-right: 20px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.MovieDetails {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.MovieId, .MoviePopularity {
  margin-top: 10px;
}

.MovieDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MovieDetail .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.MovieDetail h2 {
  color: #333;
  margin-bottom: 20px;
}

.MovieDetail img {
  max-width: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.MovieDetail p {
  text-align: justify;
  max-width: 80%;
  line-height: 1.5;
  color: #555;
}

.MovieDetail button {
  background: blue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  position: absolute; /* 使用绝对定位将按钮定位到左右两侧 */
}

.MovieDetail button.prev {
  left: 0;
}

.MovieDetail button.next {
  right: 0;
}

.nav-link {
  margin: 10px;
}

.movie-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item {
  padding: 60px;
  position: relative; /* 这将允许我们对其子元素（即标题）进行定位 */
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 50%;
  border-radius: 5px;
}

.filters label {
  margin: 10px 0;
}
